body{
  background-color: lightcyan;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.form{
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}
input[type=text]{
  width: 400px;
  height: 30px;
}
.text_center{
  text-align: center;
  margin-top: 5px;
  font-size: 40px;
  color: darkgreen;
}
.go{
  width: 70px;
  height: 30px;
  background-color: lawngreen;
  margin-left: 30px;
}
.clear{
  width: 70px;
  height: 30px;
  background-color: red;
  margin-left: 30px;
}